<div class="container login-card">
    <div class="login-card"></div>
    
    <div class="login">
        <div class="login-element__forget-pass logo">
            <!-- Место под логотип-->
        </div>

        <div class="login-element login-element__forget-pass">
            <p class="p-header">Забыли пароль? </p>
            <p>
                Введите адрес электронной почты, который был использован для регистации.
                Вам будет отправлено письмо с инструкциями к сбросу пароля.
            </p>
        </div>
        
        <!-- Добавить дейсвие при отправке формы -->
        <form class="login-element form"  action="" method="post">
           
            
            <div class="form_element form_element_forget-pass">
                <input class="form-element__email" id="email" name="email" placeholder="Адрес электронной почты"
                       type="email" autocomplete="username" aria-label="Адрес электронной почты" required>
            </div>

            

            <div class="form_element form_element_forget-pass">
                <button class="form_element__button button" id="send-letter" type="submit" readonly>
                    <span class="button-label"> Отправить письмо </span>
                </button>
            </div>


        </form>

        <div class="login-element login-element__forget-pass alternative">
            <p> Помните свой пароль?
                <a asp-area="" asp-controller="Home" asp-action="LogIn"  id="to-login">
                    Войти
                </a> 
            </p>
            
        </div>
    </div>
</div>

<script src="~/js/login.js"></script> 