<div class="container login-card">
<div class="login">
    <p> Когда-нибудь тут будет форма, но пока тут ничего нет(( </p>
    <p> Поэтому... Ничем не можем Вам помочь! </p>
    <p style="text-align: center"> Хорошего дня ^^</p>
</div>
</div>