.login-card{
  text-align: center;
  width: 100%;
}
.login{
  text-align: center;
  margin: 40px auto;
  padding: 28px 60px 10px;
  background-color: #202020;
  display: inline-block;
  &-element{


  }
  p{
    font-family: 'Brutal', sans-serif;
    color: #f4f4f4;
    font-size: 14px;
    line-height: 21px;
  }
}

.login-element.login-element__info{
  
  width: 100%;
  //background-color: #1c7430;
  
  p {
    font-family: 'Brutal', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    //text-align: left;
  }
}

//загрушка
.login-element.logo{
  margin: 50px 0;
}


.form {
  //margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
}


.form_element{
  width: 100%;
  &__email{

  }


  input, button{
    width: 100%;
    height: 50px;
    font: inherit;
    font-family: Brutal, sans-serif;
    border-radius: 5px;
    
    border: none;
    display: inline-block;
    vertical-align: middle;
    

    &:active, &:focus{
      background-color: #484848;
      outline: none;
    }
  }
  
  input{
    margin-top: 15px;
    box-sizing: border-box;
    display: block;
    padding-left: 14px;
    padding-right: 14px;
    background-color: #2B2B2B;
    color: #f4f4f4;
  }
  
  .button{
    background-color: #191919;
   
    text-transform: uppercase;
    span{
      font-weight: 600;
      line-height: 17px;
      color: #5b5d5e;
      font-size: 14px;
    }
  }
  
  .button.active{
    background-color: #037BEE;
    span{
      color: white;
    }
  }
  
}


.form_element__forgot {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 15px;
  p{
    color:#8A8A8A;
    line-height: 21px;
    
  }
}


div.alternative{
  >p{
    color: #8A8A8A;
    margin-top: 20px;
    margin-bottom: 0;
  }
  a{
    margin: 0;
    padding: 0;
    p{
      margin-top: 0;
      padding: 0;
    }
  }
}

 